name: First Workflow
on: 
  push:
    branches:
      - main
      - feature/*
      

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Building Docker image
        run: docker build -t my-nginx:v1 .