name: First Workflow
on: 
  workflow_dispatch:
    inputs:
      image_tag:
        description: "docker image tag"
        required: true
        default: "latest"

      

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: show selected tag
        run: echo "Building docker image for ${{ github.event.inputs.image_tag }}"  

      - name: Building Docker image
        run: docker build -t my-nginx:${{ github.event.inputs.image_tag }} .